{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Dars qoldirish
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Dars qoldirgan o'quvchilar</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <tr>
                            <th>T/r</th>
                            <!-- <th>Student ID</th> -->
                            <th>O'quvchi</th>
                            <th>Dars qoldirilgan sana</th>
                            <th>Xabar(Sabab)</th>
                            <!-- <th>Apply On</th> -->
                            <th>Tasdiqlash</th>
                        </tr>
                        {% for leave in leaves %}
                        <tr>
                            <td>{{ leave.id }}</td>
                            <!-- <td>{{ leave.student_id.admin.id }}</td> -->
                            <td>{{ leave.student_id.admin.first_name }} {{ leave.student_id.admin.last_name }}</td>
                            <td>{{ leave.leave_date }}</td>
                            <td>{{ leave.leave_message }}</td>
                            <!-- <td>{{ leave.created_at }}</td> -->
                            <td>
                                {% if leave.leave_status == 0 %}
                                <a href="{% url 'student_approve_leave' leave_id=leave.id %}" class="btn btn-success" >Tasdiqlash</a>
                                <a class="btn btn-danger" href="{% url 'student_disapprove_leave' leave_id=leave.id %}" >Rad etish</a>
                                {% elif leave.leave_status == 1  %}
                                 <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Tasdiqlangan</button>
                                {% else %}
                                <button class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Rad etilgan</button>
                                {% endif %}
                            </td>

                        </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>

    <!-- /.content -->
{% endblock main_content %}
